/** 
 * scss 中的所有变量集中存放于此文件
 * 
 * create by musicq @2015-05-28
 */

$base-font-family: futura-pt-condensed,'Futura Cond',Helvetic,tahoma,arial,'Hiragino Sans GB',Microsoft Yahei,'Helvetica Neue',Helvetica,'Segoe UI',\5b8b\4f53,sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #fdfdfd;
$link-color: #009CE0;