<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
	<typeAliases>  
		<typeAlias alias="Clan" type="com.cocmaster.firstBlood_base_common.model.Do.Clan"/>
		<typeAlias alias="User" type="com.cocmaster.firstBlood_base_common.model.Do.User"/>
    </typeAliases>  
    
</configuration>