<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cocmaster.firstBlood_register_impl.dao.ClanMapper" >
  <resultMap id="BaseResultMap" type="Clan" >
    <id column="clanId" property="clanId" jdbcType="INTEGER" />
    <result column="clanNameString" property="clanNameString" jdbcType="VARCHAR" />
    <result column="clanTag" property="clanTag" jdbcType="VARCHAR" />
    <result column="clanType" property="clanType" jdbcType="TINYINT" />
    <result column="warFrequency" property="warFrequency" jdbcType="TINYINT" />
    <result column="membersCount" property="membersCount" jdbcType="INTEGER" />
    <result column="totalPoints" property="totalPoints" jdbcType="INTEGER" />
    <result column="warsWon" property="warsWon" jdbcType="INTEGER" />
    <result column="requiredTrophies" property="requiredTrophies" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    clanId, clanNameString, clanTag, clanType, warFrequency, membersCount, totalPoints, 
    warsWon, requiredTrophies, location
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clan
    where clanId = #{clanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clan
    where clanId = #{clanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Clan" >
    insert into clan (clanId, clanNameString, clanTag, 
      clanType, warFrequency, membersCount, 
      totalPoints, warsWon, requiredTrophies, 
      location)
    values (#{clanId,jdbcType=INTEGER}, #{clanNameString,jdbcType=VARCHAR}, #{clanTag,jdbcType=VARCHAR}, 
      #{clanType,jdbcType=TINYINT}, #{warFrequency,jdbcType=TINYINT}, #{membersCount,jdbcType=INTEGER}, 
      #{totalPoints,jdbcType=INTEGER}, #{warsWon,jdbcType=INTEGER}, #{requiredTrophies,jdbcType=INTEGER}, 
      #{location,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Clan" >
    insert into clan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clanId != null" >
        clanId,
      </if>
      <if test="clanNameString != null" >
        clanNameString,
      </if>
      <if test="clanTag != null" >
        clanTag,
      </if>
      <if test="clanType != null" >
        clanType,
      </if>
      <if test="warFrequency != null" >
        warFrequency,
      </if>
      <if test="membersCount != null" >
        membersCount,
      </if>
      <if test="totalPoints != null" >
        totalPoints,
      </if>
      <if test="warsWon != null" >
        warsWon,
      </if>
      <if test="requiredTrophies != null" >
        requiredTrophies,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clanId != null" >
        #{clanId,jdbcType=INTEGER},
      </if>
      <if test="clanNameString != null" >
        #{clanNameString,jdbcType=VARCHAR},
      </if>
      <if test="clanTag != null" >
        #{clanTag,jdbcType=VARCHAR},
      </if>
      <if test="clanType != null" >
        #{clanType,jdbcType=TINYINT},
      </if>
      <if test="warFrequency != null" >
        #{warFrequency,jdbcType=TINYINT},
      </if>
      <if test="membersCount != null" >
        #{membersCount,jdbcType=INTEGER},
      </if>
      <if test="totalPoints != null" >
        #{totalPoints,jdbcType=INTEGER},
      </if>
      <if test="warsWon != null" >
        #{warsWon,jdbcType=INTEGER},
      </if>
      <if test="requiredTrophies != null" >
        #{requiredTrophies,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Clan" >
    update clan
    <set >
      <if test="clanNameString != null" >
        clanNameString = #{clanNameString,jdbcType=VARCHAR},
      </if>
      <if test="clanTag != null" >
        clanTag = #{clanTag,jdbcType=VARCHAR},
      </if>
      <if test="clanType != null" >
        clanType = #{clanType,jdbcType=TINYINT},
      </if>
      <if test="warFrequency != null" >
        warFrequency = #{warFrequency,jdbcType=TINYINT},
      </if>
      <if test="membersCount != null" >
        membersCount = #{membersCount,jdbcType=INTEGER},
      </if>
      <if test="totalPoints != null" >
        totalPoints = #{totalPoints,jdbcType=INTEGER},
      </if>
      <if test="warsWon != null" >
        warsWon = #{warsWon,jdbcType=INTEGER},
      </if>
      <if test="requiredTrophies != null" >
        requiredTrophies = #{requiredTrophies,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=INTEGER},
      </if>
    </set>
    where clanId = #{clanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Clan" >
    update clan
    set clanNameString = #{clanNameString,jdbcType=VARCHAR},
      clanTag = #{clanTag,jdbcType=VARCHAR},
      clanType = #{clanType,jdbcType=TINYINT},
      warFrequency = #{warFrequency,jdbcType=TINYINT},
      membersCount = #{membersCount,jdbcType=INTEGER},
      totalPoints = #{totalPoints,jdbcType=INTEGER},
      warsWon = #{warsWon,jdbcType=INTEGER},
      requiredTrophies = #{requiredTrophies,jdbcType=INTEGER},
      location = #{location,jdbcType=INTEGER}
    where clanId = #{clanId,jdbcType=INTEGER}
  </update>
</mapper>