<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cocmaster.firstBlood_register_impl.dao.ClanMapper" >
  <resultMap id="BaseResultMap" type="com.cocmaster.firstBlood_base_common.model.temp.Clan" >
    <id column="clanId" property="clanid" jdbcType="INTEGER" />
    <result column="clanNameString" property="clannamestring" jdbcType="VARCHAR" />
    <result column="clanTag" property="clantag" jdbcType="VARCHAR" />
    <result column="clanType" property="clantype" jdbcType="TINYINT" />
    <result column="warFrequency" property="warfrequency" jdbcType="TINYINT" />
    <result column="membersCount" property="memberscount" jdbcType="INTEGER" />
    <result column="totalPoints" property="totalpoints" jdbcType="INTEGER" />
    <result column="warsWon" property="warswon" jdbcType="INTEGER" />
    <result column="requiredTrophies" property="requiredtrophies" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    clanId, clanNameString, clanTag, clanType, warFrequency, membersCount, totalPoints, 
    warsWon, requiredTrophies, location
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clan
    where clanId = #{clanid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clan
    where clanId = #{clanid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cocmaster.firstBlood_base_common.model.temp.Clan" >
    insert into clan (clanId, clanNameString, clanTag, 
      clanType, warFrequency, membersCount, 
      totalPoints, warsWon, requiredTrophies, 
      location)
    values (#{clanid,jdbcType=INTEGER}, #{clannamestring,jdbcType=VARCHAR}, #{clantag,jdbcType=VARCHAR}, 
      #{clantype,jdbcType=TINYINT}, #{warfrequency,jdbcType=TINYINT}, #{memberscount,jdbcType=INTEGER}, 
      #{totalpoints,jdbcType=INTEGER}, #{warswon,jdbcType=INTEGER}, #{requiredtrophies,jdbcType=INTEGER}, 
      #{location,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cocmaster.firstBlood_base_common.model.temp.Clan" >
    insert into clan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clanid != null" >
        clanId,
      </if>
      <if test="clannamestring != null" >
        clanNameString,
      </if>
      <if test="clantag != null" >
        clanTag,
      </if>
      <if test="clantype != null" >
        clanType,
      </if>
      <if test="warfrequency != null" >
        warFrequency,
      </if>
      <if test="memberscount != null" >
        membersCount,
      </if>
      <if test="totalpoints != null" >
        totalPoints,
      </if>
      <if test="warswon != null" >
        warsWon,
      </if>
      <if test="requiredtrophies != null" >
        requiredTrophies,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clanid != null" >
        #{clanid,jdbcType=INTEGER},
      </if>
      <if test="clannamestring != null" >
        #{clannamestring,jdbcType=VARCHAR},
      </if>
      <if test="clantag != null" >
        #{clantag,jdbcType=VARCHAR},
      </if>
      <if test="clantype != null" >
        #{clantype,jdbcType=TINYINT},
      </if>
      <if test="warfrequency != null" >
        #{warfrequency,jdbcType=TINYINT},
      </if>
      <if test="memberscount != null" >
        #{memberscount,jdbcType=INTEGER},
      </if>
      <if test="totalpoints != null" >
        #{totalpoints,jdbcType=INTEGER},
      </if>
      <if test="warswon != null" >
        #{warswon,jdbcType=INTEGER},
      </if>
      <if test="requiredtrophies != null" >
        #{requiredtrophies,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cocmaster.firstBlood_base_common.model.temp.Clan" >
    update clan
    <set >
      <if test="clannamestring != null" >
        clanNameString = #{clannamestring,jdbcType=VARCHAR},
      </if>
      <if test="clantag != null" >
        clanTag = #{clantag,jdbcType=VARCHAR},
      </if>
      <if test="clantype != null" >
        clanType = #{clantype,jdbcType=TINYINT},
      </if>
      <if test="warfrequency != null" >
        warFrequency = #{warfrequency,jdbcType=TINYINT},
      </if>
      <if test="memberscount != null" >
        membersCount = #{memberscount,jdbcType=INTEGER},
      </if>
      <if test="totalpoints != null" >
        totalPoints = #{totalpoints,jdbcType=INTEGER},
      </if>
      <if test="warswon != null" >
        warsWon = #{warswon,jdbcType=INTEGER},
      </if>
      <if test="requiredtrophies != null" >
        requiredTrophies = #{requiredtrophies,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=INTEGER},
      </if>
    </set>
    where clanId = #{clanid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cocmaster.firstBlood_base_common.model.temp.Clan" >
    update clan
    set clanNameString = #{clannamestring,jdbcType=VARCHAR},
      clanTag = #{clantag,jdbcType=VARCHAR},
      clanType = #{clantype,jdbcType=TINYINT},
      warFrequency = #{warfrequency,jdbcType=TINYINT},
      membersCount = #{memberscount,jdbcType=INTEGER},
      totalPoints = #{totalpoints,jdbcType=INTEGER},
      warsWon = #{warswon,jdbcType=INTEGER},
      requiredTrophies = #{requiredtrophies,jdbcType=INTEGER},
      location = #{location,jdbcType=INTEGER}
    where clanId = #{clanid,jdbcType=INTEGER}
  </update>
</mapper>